@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200,300,400,500,600,700&display=swap");
/* line 3, ../components/sass/_layout.sass */
html {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #EF473B;
}

/* line 7, ../components/sass/_layout.sass */
svg {
  overflow: hidden;
}

/* line 10, ../components/sass/_layout.sass */
::selection {
  background-color: #ce362b;
}

/* line 13, ../components/sass/_layout.sass */
body {
  line-height: 1;
  color: #1E1E1E;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

/* line 25, ../components/sass/_layout.sass */
input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

/* line 34, ../components/sass/_layout.sass */
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/* line 40, ../components/sass/_layout.sass */
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border: none;
  position: relative;
}

/* line 48, ../components/sass/_layout.sass */
div {
  position: relative;
}

/* line 51, ../components/sass/_layout.sass */
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

/* line 57, ../components/sass/_layout.sass */
.gridItem {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

/* line 62, ../components/sass/_layout.sass */
.one {
  width: 100%;
}

/* line 65, ../components/sass/_layout.sass */
.oneHalf {
  width: 49%;
}

/* line 68, ../components/sass/_layout.sass */
.oneQuarter {
  min-width: 24%;
}

/* line 71, ../components/sass/_layout.sass */
.oneThird {
  width: 33%;
}
@media (max-width: 767px) {
  /* line 71, ../components/sass/_layout.sass */
  .oneThird {
    width: 100%;
  }
}

/* line 76, ../components/sass/_layout.sass */
.twoThird {
  width: 66%;
}
@media (max-width: 767px) {
  /* line 76, ../components/sass/_layout.sass */
  .twoThird {
    width: 100%;
  }
}

/* line 81, ../components/sass/_layout.sass */
header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 25px 32px 25px 25px;
}
/* line 86, ../components/sass/_layout.sass */
header h3 {
  line-height: 1rem;
  margin: 0;
  margin-bottom: 0.125rem;
}

/* line 91, ../components/sass/_layout.sass */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #DFDEDE;
  color: #1E1E1E;
  padding: 7.5px 5px 10px;
  text-align: center;
}
/* line 99, ../components/sass/_layout.sass */
footer a {
  color: #1E1E1E;
  text-decoration: underline;
}

/* line 104, ../components/sass/_layout.sass */
#logo {
  width: 1.5rem;
  position: relative;
  top: -5px;
}

/* line 109, ../components/sass/_layout.sass */
#downCaret {
  position: absolute;
  right: -16px;
  top: 9px;
  bottom: 0;
}

/* line 116, ../components/sass/_layout.sass */
#site {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 86vh;
  max-width: 414px;
  margin: 0 auto 0;
  padding: 15px 21px;
}
@media (min-width: 414px) {
  /* line 116, ../components/sass/_layout.sass */
  #site {
    margin: 0 auto;
    min-height: 96vh;
  }
}

/* line 131, ../components/sass/_layout.sass */
#counter * {
  cursor: pointer;
}

/* line 134, ../components/sass/_layout.sass */
#counter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  margin: 0 auto;
  padding: 1rem;
  background-image: url("../../svg/count.svg");
}
/* line 143, ../components/sass/_layout.sass */
#counter h3 {
  margin-bottom: 0;
}
@media (min-width: 414px) {
  /* line 134, ../components/sass/_layout.sass */
  #counter {
    width: 16rem;
    height: 16rem;
  }
}

/* line 149, ../components/sass/_layout.sass */
#bars {
  margin: 0.5rem 0;
  text-align: center;
}

/* line 153, ../components/sass/_layout.sass */
.barDot {
  width: 1.875rem;
  height: 1.875rem;
  fill: rgba(255, 255, 255, 0.5);
}

/* line 159, ../components/sass/_layout.sass */
.count.on svg {
  fill: #1E1E1E;
}

/* line 162, ../components/sass/_layout.sass */
#sound {
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
}
/* line 166, ../components/sass/_layout.sass */
#sound #soundSvg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/* line 173, ../components/sass/_layout.sass */
#sound svg {
  width: 5rem;
  height: 5rem;
  z-index: 999;
}

/* line 178, ../components/sass/_layout.sass */
#adjust {
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #DFDEDE;
  border: none;
  cursor: pointer;
  margin-bottom: 12.5px;
  width: 300px;
  max-width: 88%;
}
/* line 189, ../components/sass/_layout.sass */
#adjust::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: #1E1E1E;
  border: 0.5rem solid #DFDEDE;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

/* line 198, ../components/sass/_layout.sass */
.htmlAbout {
  background-color: #bebebe;
}
/* line 200, ../components/sass/_layout.sass */
.htmlAbout h1, .htmlAbout h2, .htmlAbout h3 {
  color: #ce362b;
}
/* line 202, ../components/sass/_layout.sass */
.htmlAbout h1 {
  font-weight: 500;
}
/* line 204, ../components/sass/_layout.sass */
.htmlAbout h2 {
  font-weight: 700;
}
/* line 206, ../components/sass/_layout.sass */
.htmlAbout body * {
  text-align: left;
}
/* line 208, ../components/sass/_layout.sass */
.htmlAbout body * a {
  color: #ce362b;
  font-weight: 700;
}

/* line 3, ../components/sass/_helpers.sass */
.pointer {
  cursor: pointer;
}

/* line 6, ../components/sass/_helpers.sass */
.caps {
  text-transform: uppercase;
}

/* line 9, ../components/sass/_helpers.sass */
.marginAuto {
  margin: 0 auto !important;
  margin-left: 0;
}

/* line 13, ../components/sass/_helpers.sass */
.noMargin {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 20, ../components/sass/_helpers.sass */
.display-none {
  display: none;
}

/* line 23, ../components/sass/_helpers.sass */
.block {
  display: block;
}

/* line 26, ../components/sass/_helpers.sass */
.fullWidth {
  width: 100%;
}

/* line 29, ../components/sass/_helpers.sass */
.mostWidth {
  width: 88%;
}

/* line 32, ../components/sass/_helpers.sass */
.halfWidth {
  width: 50%;
}

/* line 35, ../components/sass/_helpers.sass */
.thirdWidth {
  width: 33%;
}

/* line 38, ../components/sass/_helpers.sass */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-content: center;
}

/* line 43, ../components/sass/_helpers.sass */
.flexCol {
  flex-direction: column;
}

/* line 46, ../components/sass/_helpers.sass */
.flexRow {
  flex-direction: row;
  justify-content: space-between;
}

/* line 50, ../components/sass/_helpers.sass */
.z-top {
  z-index: 999 !important;
}

/* line 53, ../components/sass/_helpers.sass */
.no-flow {
  overflow: hidden;
}

/* line 56, ../components/sass/_helpers.sass */
.invert {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 63, ../components/sass/_helpers.sass */
.no-pad {
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 70, ../components/sass/_helpers.sass */
.center-text {
  width: 100%;
  text-align: center;
}

/* line 74, ../components/sass/_helpers.sass */
.center {
  margin: 0 auto;
}

/* line 77, ../components/sass/_helpers.sass */
.color--pri {
  color: #EF473B;
  fill: #EF473B;
}

/* line 81, ../components/sass/_helpers.sass */
.fill-none {
  fill: none;
}

/* line 84, ../components/sass/_helpers.sass */
.white {
  color: #DFDEDE;
  fill: #DFDEDE;
}

/* line 88, ../components/sass/_helpers.sass */
.g0 {
  fill: #F4F6F7;
  color: #F4F6F7;
}

/* line 92, ../components/sass/_helpers.sass */
.g1 {
  fill: #929191;
  color: #929191;
}

/* line 96, ../components/sass/_helpers.sass */
.g2 {
  fill: #929191;
  color: #5A5B5B;
}

/* line 100, ../components/sass/_helpers.sass */
.g3 {
  fill: #2C2C2C;
  color: #2C2C2C;
}

/* line 104, ../components/sass/_helpers.sass */
.g4 {
  fill: #040707;
  color: #040707;
}

/* line 108, ../components/sass/_helpers.sass */
.op0 {
  opacity: 0;
}

/* line 111, ../components/sass/_helpers.sass */
.op5 {
  opacity: 0.5;
}

/* line 114, ../components/sass/_helpers.sass */
.textCenter {
  text-align: center;
}

/* line 117, ../components/sass/_helpers.sass */
.textLeft {
  text-align: left;
}

/* line 120, ../components/sass/_helpers.sass */
.textRight {
  text-align: right;
}

/* line 123, ../components/sass/_helpers.sass */
.lightBg {
  background: #ffffff;
  color: #282828;
}

/* line 127, ../components/sass/_helpers.sass */
.darkBg {
  background: #232323;
  color: #ffffff;
}

/* line 134, ../components/sass/_helpers.sass */
.topRight {
  position: absolute;
  margin: auto;
  top: 0;
  right: 22px;
  bottom: auto;
  left: auto;
}

/* line 142, ../components/sass/_helpers.sass */
.topLeft {
  position: absolute;
  margin: auto;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}

/* line 150, ../components/sass/_helpers.sass */
.bottomRight {
  position: absolute;
  margin: auto;
  top: auto;
  right: 22px;
  bottom: 0;
  left: auto;
}

/* line 158, ../components/sass/_helpers.sass */
.bottomLeft {
  position: absolute;
  margin: auto;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

/* line 166, ../components/sass/_helpers.sass */
.bottom {
  position: absolute;
  margin: auto;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 174, ../components/sass/_helpers.sass */
.left {
  float: left;
}

/* line 177, ../components/sass/_helpers.sass */
.right {
  float: right;
}

/* line 180, ../components/sass/_helpers.sass */
.hide {
  display: none;
}

@media (max-width: 767px) {
  /* line 184, ../components/sass/_helpers.sass */
  .hideMobile {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 188, ../components/sass/_helpers.sass */
  .showMobile {
    display: none;
  }
}
/* line 191, ../components/sass/_helpers.sass */
.bigIndentFix {
  margin-left: -16px;
}

/* line 194, ../components/sass/_helpers.sass */
.mediumIndentFix {
  margin-left: -9px;
}

/* line 197, ../components/sass/_helpers.sass */
.smallIndentFix {
  margin-left: -6px;
}

/* line 200, ../components/sass/_helpers.sass */
.smallerIndentFix {
  margin-left: -4px;
}

/* line 203, ../components/sass/_helpers.sass */
.smallerIndentFixAlt {
  margin-left: 4px;
}

/* line 206, ../components/sass/_helpers.sass */
.smallestIndentFix {
  margin-left: -2px;
}

/* line 209, ../components/sass/_helpers.sass */
.video-wrapper {
  max-width: 88%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 216, ../components/sass/_helpers.sass */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 223, ../components/sass/_helpers.sass */
.pad-right {
  padding-right: 15px;
}

/* line 226, ../components/sass/_helpers.sass */
.headline {
  font-family: "Montserrat", sans-serif;
}

/* line 229, ../components/sass/_helpers.sass */
.light {
  font-weight: 200;
}

/* line 232, ../components/sass/_helpers.sass */
.bold {
  font-weight: 700;
}

/* line 235, ../components/sass/_helpers.sass */
.stick {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

/* line 238, ../components/sass/_helpers.sass */
.italic {
  font-style: italic;
}

/* line 241, ../components/sass/_helpers.sass */
.flexCon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  /* line 241, ../components/sass/_helpers.sass */
  .flexCon {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* line 249, ../components/sass/_helpers.sass */
.divDivider {
  height: 45px;
}

/* line 3, ../components/sass/_animate.sass */
.firstIcon {
  -webkit-animation: sliding 3s 1s ease-out infinite;
  -moz-animation: sliding 3s 1s ease-out infinite;
  -o-animation: sliding 3s 1s ease-out infinite;
  animation: sliding 3s 1s ease-out infinite;
}

@-webkit-keyframes sliding {
  0% {
    -webkit-transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* line 23, ../components/sass/_animate.sass */
.pulse {
  -webkit-animation: pulse 1s alternate ease-out infinite;
  -moz-animation: pulse 1s alternate ease-out infinite;
  -o-animation: pulse 1s alternate ease-out infinite;
  animation: pulse 1s alternate ease-out infinite;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
/* line 54, ../components/sass/_animate.sass */
.docking {
  position: absolute;
  width: 116rem;
  height: 116rem;
  z-index: -1;
  position: absolute;
  right: 5rem;
  bottom: 8rem;
}
/* line 62, ../components/sass/_animate.sass */
.docking img {
  animation: rotation 100s infinite linear;
  width: 116rem;
  height: 116rem;
  opacity: 0.15;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* line 75, ../components/sass/_animate.sass */
.blinker {
  animation: blinker 5s ease-in-out infinite;
}

@keyframes blinker {
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
}
/* line 3, ../components/sass/_type.sass */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 1.225em;
}
@media (max-width: 320px) {
  /* line 3, ../components/sass/_type.sass */
  html {
    font-size: 1.15em;
  }
}
@media (min-width: 768px) {
  /* line 3, ../components/sass/_type.sass */
  html {
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
  /* line 3, ../components/sass/_type.sass */
  html {
    font-size: 1.15em;
  }
}

/* line 13, ../components/sass/_type.sass */
h1 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 3.875rem;
  line-height: 3.68125rem;
  font-weight: 200;
  letter-spacing: 0.875px;
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;
}

/* line 27, ../components/sass/_type.sass */
h2 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 35px;
}

/* line 39, ../components/sass/_type.sass */
h3 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.425rem;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

/* line 51, ../components/sass/_type.sass */
p, ul, ol {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* line 61, ../components/sass/_type.sass */
li {
  margin-bottom: 7.5px;
}

/* line 64, ../components/sass/_type.sass */
hr {
  border-color: #EF473B;
  border-style: solid;
  margin-top: 2px;
  margin: 15px 0 25px;
}

/* line 70, ../components/sass/_type.sass */
strong {
  font-weight: 700 !important;
}

/* line 73, ../components/sass/_type.sass */
a {
  color: #DFDEDE;
  text-decoration: none;
  cursor: pointer;
}
/* line 77, ../components/sass/_type.sass */
a:focus {
  outline: none;
  -moz-outline-style: none;
}

/* line 81, ../components/sass/_type.sass */
blockquote {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 1rem;
  padding: 0;
  font-weight: 200;
  font-style: italic;
  text-align: left;
}
@media (max-width: 320px) {
  /* line 81, ../components/sass/_type.sass */
  blockquote {
    font-size: 48px;
    font-size: 1.875rem;
  }
}
/* line 93, ../components/sass/_type.sass */
blockquote::before {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20rem;
  display: block;
  padding-left: 0;
  margin-bottom: 5px;
  content: "“";
  height: 2rem;
  font-size: 80px;
  opacity: 0.15;
}

/* line 105, ../components/sass/_type.sass */
button {
  background: #EF473B;
  color: white;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 113, ../components/sass/_type.sass */
.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.29375rem;
  font-weight: 700;
  color: #EF473B;
  position: relative;
  margin-bottom: 15px;
}

/* line 122, ../components/sass/_type.sass */
.callOut {
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 200;
}

/* line 127, ../components/sass/_type.sass */
.big {
  font-size: 9rem;
  line-height: 9rem;
  margin-bottom: 0;
}

/* line 132, ../components/sass/_type.sass */
label {
  font-size: 1.425rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.875px;
  padding: 0 0 10px;
  display: block;
}

/* line 143, ../components/sass/_type.sass */
.preface {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}
